<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Reference_1</key>
	<string>https://medium.com/ios-os-x-development/ios-architecture-patterns-ecba4c38de52#.gyluwo8ev</string>
</dict>
</plist>
